.background {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #8FF8FF,#5F95FF);
  display: flex;
  align-items: center;
}

.calcBody {
  width: 30%;
  min-height: fit-content;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  padding: 30px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
}

.calcBody h3 {
  color: #002E88;
}

.inputScreen {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  overflow: scroll;
  overflow-y: hidden;
  scrollbar-width: 1rem;
}

.inputScreen h5 {
  font-size: 30px;
  color: #002E88;
  margin-left: 20px;
}

.keyGroup1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.keyGroup2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .calcBody {
    width: 80%;
  }

  .background {
    background: linear-gradient(to right bottom, #8FF8FF, #5F95FF);
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .calcBody {
    width: 50%;
  }
}